<h3>response</h3>
<table class='table'>
	<tr>
		<th>Name</th>
		<th>Value</th>
	</tr>
	<% @response_hash.each_with_index do |(key, value), index| %>
	<tr>
		<td><%= key %></td>
		<td>
			<pre><%= value %></pre>
		</td>
	</tr>
	<% end %>
</table>